################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio Files
*.suo
*.user
*.sln.docstates
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*
*.vcproj.*
/DSA Project.sln
.vs/
bin/
obj/
/Debug/
/DSA Project
/x64


# CMake Files
CMakeCache.txt
CMakeLists.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
/out
